.login-main-cont {
    animation: bgChangingAni 10s ease-in-out infinite;
    background-image: url(../img/goldenTemple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

@keyframes bgChangingAni {

    0% {
        background-image: url(../img/goldenTemple.jpg);
    }

    25% {
        background-image: url(../img/gatewayOfIndiaMumbai.jpg);
    }

    50% {
        background-image: url(../img/tajMahal.jpg);
    }

    75% {
        background-image: url(../img/redFortDelhi.jpg);
    }

    100% {
        background-image: url(../img/goldenTemple.jpg);
    }
}

.login-main-cont::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.login-main-box {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    position: absolute;
    min-width: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 5px;
    z-index: 1;
}

.login-main-box h2 {
    color: #ffffff;
    text-align: center;
}

.login-main-box h2 span:first-child {
    color: #ff9933;
}

.login-main-box h2 span:last-child {
    color: #118808;
}

.card.login-box {
    background-color: transparent;
    color: #000088;
    padding: 12px;
    border: 0;
}

.login-box .form-control {
    border: 1px solid #000088;
    border-radius: 0;
    font-size: 16px;
}

.login-box .form-group label {
    font-weight: 600;
    margin-bottom: 2px;
}

.form-btn {
    text-align: center;
    padding-top: 10px;
}

.form-btn .btn {
    border-radius: 0;
    width: 100%;
}

.btn-success {
    background-color: #118808;
}

@media (max-width: 768px) {
    .login-main-box {
        min-width: 90%;
    }
}